.aboutusimg
{
    margin: 30px;
    margin-left: 150px;
    margin-top: 120px;
}

.aboutustext
{
    margin-top: 50px;
}

.aboutinfo
{
    margin-top: 30px;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.feedbackheading
{
    text-align: center;
}

.parallax
{
    background-image: url("img/img.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.feedbacktextbox
{
    margin-left : 150px;

}

.a1
{
    margin-top:20px;
}
.a2
{
    margin-top : 40px;
}
.a3
{
    margin-left: 150px; margin-top: 30px; margin-bottom:30px;
}
.a4
{
    margin-top: 30px; margin-left: 350px;
}
.a5
{
    margin-top:50px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
